<% layout("/layouts/boilerplate") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
    <title>Add New Listing</title>

  
</head>
<body>

    <div class="container mt-5">
        <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
            <h2>Add New Listing!</h2>
            
            <div class="form-group">
                <label for="title">Title:</label>
                <input name="listing[title]" id="title" class="form-control" placeholder="Enter title" type="text" required>
                <div class="invalid-feedback">Please enter a title.</div>
            </div>
            
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea name="listing[description]" id="description" class="form-control" placeholder="Enter description" type="text" required></textarea>
                <div class="invalid-feedback">Please enter a description.</div>
            </div>
            
            <div class="form-group">
                <label for="price">Price:</label>
                <input name="listing[price]" id="price" class="form-control" placeholder="Enter price" required>
                <div class="invalid-feedback">Please enter a valid price.</div>
            </div>
            
         
            <div class="form-group">
                <label for="image">Upload Image </label>
                <input name="listing[image]" id="image" class="form-control" placeholder="Enter image URL" type="file" required>
                
            </div>
            
            <div class="form-group">
                <label for="location">Location:</label>
                <input name="listing[location]" id="location" class="form-control" placeholder="Enter location" type="text" required>
                <div class="invalid-feedback">Please enter a location.</div>
            </div>
            
            <button type="submit" class="btn btn-primary">Add...</button>
        </form>
    </div>

    <script src="/js/script.js"></script>

</body>
</html>
